<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/edicion.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    src="https://kit.fontawesome.com/4bc2c34221.js" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&family=Shizuru&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/general.css">


  <title>Editando <%= product.name %></title>

</head>
<header class="header">
  <%- include ("./partials/headder")%>
</header>


<body>
  <div class="container-m1">
    <div class="title">Modificar Producto</div>
    <br>
    <form action="" method="" class="search-products">
      <div class="user-details-search">
        <div class="input-box-search">
          <input type="text" placeholder="Buscar producto por Nombre,Id...." required>
        </div>
      </div>
      <div class="button-search">
        <input type="submit" value="Buscar">
      </div>
      <br>
      <br>
    </form>


    <div class="content">
      <form action="/editar/<%= product.id %>?_method=PUT" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">ID</span>
            <input disabled type="text" name="id" value="<%= product.id %>" required>
          </div>
          <div class="input-box">
            <span class="details">Nombre del producto</span>
            <input type="text" name="name" value="<%= product.name %>" required>
          </div>
          <div class="input-box">
            <span class="details">Descripcion</span>
            <input type="text" name="description" value="<%= product.description %>" required>
          </div>
          <div class="input-box">
            <span class="details">Unidades en stock</span>
            <input type="text" name="stock" value="<%= product.stock %>" required>
          </div>
          <div class="input-box">
            <span class="details">Precio</span>
            <input type="text" name="price" value="<%= product.price %>" required>
          </div>
          <div class="input-box">
            <span class="details">Descuento</span>
            <input type="text" name="discount" value="<%= product.discount %>" required>
          </div>
          <div class="input-box">
            <span class="details">Genero</span>
            <select class="input-box" name="description" id="category">
              <option selected>Seleccionar categoria</option>
              <option value="1" <%= product.gender == "Echeveria" ? "selected" : null %> >Echeveria</option>
              <option value="2" <%= product.gender == "Sedum" ? "selected" : null %>>Sedum</option>
              <option value="3" <%= product.gender == "Pachyveria" ? "selected" : null %>>Pachyveria</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Categoria</span>
            <select class="input-box" name="description" id="category">
              <option selected>Seleccionar categoria</option>
              <option value="1" <%= product.category == "sale" ? "selected" : null %> >Sale</option>
              <option value="2" <%= product.category == "nuevo-ingreso" ? "selected" : null %> >Nuevo ingreso</option>
              <option value="3" <%= product.category == "producto-destacado" ? "selected" : null %> >Producto destacado</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Imagen</span>
            <input id="fileInput" type="file" style="display:none;" />
            <input type="button" class="" value="SUBIR" onclick="document.getElementById('fileInput').click();" />
            <div class="box-image">
              <i class="fa-solid fa-cloud-arrow-up upload-icon"
                onclick="document.getElementById('fileInput').click();"></i>
            </div>
          </div>
        </div>
        
        
        <div class="button">
          <input type="submit" value="Actualizar producto">
        </div>
        <div class="button-delete">
            <input type="submit" value="Eliminar">
        </div>
        <div class="button">
          <a href="/productos"><input type="submit" value="Cancelar"></a>
         </div>
      </form>
    </div>
  </div>






  <footer class="footer">
    <%- include ("./partials/footer")%>
  </footer>
</body>

</html>