<!DOCTYPE html>
<html lang="en">

<head>
   <%- include ("./partials/headder")%>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body class="boddy">

   <header class="header">
      <%- include ("./partials/headder")%>
    </header>
<div class="main-grid">

   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/echeveria-rudolf.jpg">
         <div class="content fade">ECHEVERIA</div>
      </div>
   </div>
   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/graptoveria-wind-of-changes.jpg">
         <div class="content fade">GRAPTOVERIA</div>
      </div>
   </div>
   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/echeveria-ben-badis.jpg">
         <div class="content fade">ECHEVERIA 2</div>
      </div>
   </div>
   
</div>
         
<main>
   <div>
      <h2 class="ofertas-text">NUEVOS INGRESOS</h2>
   </div>
   <div class="new-products">
      <section class="last-visit">

         <div class="products">
            <% nuevoIngreso.forEach( product=> { %>
               <article>
                  <a href="/productsDetail/<%= product.id %> " class="link-detail">
                     <img src="images/<%= product.image %>" class="product_img">
                  </a>
                     <div class="main-article">
                        <h4 class="description">
                           <%= product.name %>
                        </h4>

                        <p class="price">$<%= product.price %>
                        </p>
                     </div>
                  <div class="product-extra-link">
                     <a href="#" data-quantity="1" class="button_add_to_cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                     </a>
                     
                  </div>
               </article>

               <% }) %>

         </div>

   </div>

   </section>
   </div>

   <div>
      <h2 class="ofertas-text">OFERTAS</h2>
   </div>

   <div class="offers">

      <section class="last-visit">

         <div class="products">
            <% oferta.forEach( product=> { %>
               <article>
                  <a href="/productsDetail/<%= product.id %> " class="link-detail">
                     <img src="images/<%= product.image %>" class="product_img">
                  </a>
                     <div class="main-article">
                        <h4 class="description">
                           <%= product.name %>
                        </h4>
                        <p class="price-offer">
                           $<%= product.price %>
                        </p>
                     
                        <div class="discount-line">
                           
                           <h2 class="final-price">
                              $<%= product.discount> 0 ? toThousand((product.price * ((100 -
                                 product.discount)/100))) : toThousand(product.price) %>
                           </h2>
                           <% if(product.discount> 0){ %>
                              <p class="discount">
                                 <%= product.discount %> % OFF
                              </p>
                              <% } %>


                        </div>
                  
         </div>
         <div class="product-extra-link">
            <a href="#" data-quantity="1" class="button_add_to_cart">
               <i class="fa-solid fa-bag-shopping"></i>
            </a>
         </div>
         </article>
         <% }) %>
   </div>

   </section>
   </div>



</main>
         
         <hr>
         
         <footer class="footer">
            <%- include ("./partials/footer")%>
          </footer>

</body>

</html>