<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/register.css">
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">

   <title>Crea tu cuenta</title>
</head>

<body class="boddy">
   <header class="header">
      <%- include ("./partials/headder")%>
   </header>

   <main class="caja-registro">
      <p class="texto-crear"></p>
      <h1>Registrar una nueva cuenta</h1><br>
      <div class="icono-avatar">
         <img class="icono-avatar" src="images/icono-gris.png">
         <i class="fa-solid fa-camera icono-camara"></i>
      </div>
      <form action="/register" method="POST" enctype="multipart/form-data">
         <div class="namef">
            <label for="nombre">
               <p>Nombre/s</p>
               <input type="text" name="nombre" value="<%= locals.oldData ? oldData.nombre : null%>"> 
               <% if(locals.errors && errors.nombre) { %>
               <div class="text-danger">
                  <%= errors.nombre.msg %>
               </div>
               <% } %>
            </label>
            <label for="apellido">
               <p>Apellido/s</p>
               <input type="text" name="apellido" value="<%= locals.oldData ? oldData.apellido : null%>">
               <% if(locals.errors && errors.apellido) { %>
                  <div class="text-danger">
                     <%= errors.apellido.msg %>
                  </div>
                  <% } %>
            </label>
         </div>
         <div class="namef">
            <label for="email">
               <p>Correo electrónico</p>
               <input type="text" name="email" value="<%= locals.oldData ? oldData.email : null%>">
               <% if(locals.errors && errors.email) { %>
                  <div class="text-danger">
                     <%= errors.email.msg %>
                  </div>
                  <% } %>
            </label>
            <label for="contraseña">
               <p>Contraseña</p>
               <input type="password" name="contraseña">
               <% if(locals.errors && errors.contraseña) { %>
                  <div class="text-danger">
                     <%= errors.contraseña.msg %>
                  </div>
                  <% } %>
            </label>
            </div>
            <div class="datosf">
            <label for="telefono">
               <p>Teléfono (opcional)</p>
               <input type="tel" name="telefono" value="<%= locals.oldData ? oldData.telefono : null%>">
            </label>
            <label for="genero">
               <p>Género</p>
               <select name="genero">
                  <option value="">Elige un género</option>
                  <% 
                  let generos = ['Masculino', 'Femenino']
                  %>
                  <% for (const genero of generos) { %>
                     <option value="<%= genero %>" <%= locals.oldData && (genero === oldData.genero) ? 'selected' : null %>><%= genero %></option>
                  <% } %>
               </select>
                  <% if(locals.errors && errors.genero) { %>
                     <div class="text-danger">
                        <%= errors.genero.msg %>
                     </div>
                     <% } %>
            </label><br>
            <label for="cumpleaños">
               <p>Fecha de nacimiento</p>
               <input type="date" name="cumpleaños" placeholder="XD">
               <% if(locals.errors && errors.cumpleaños) { %>
                  <div class="text-danger">
                     <%= errors.cumpleaños.msg %>
                  </div>
                  <% } %>
            </label>
            <label for="pais">
               <p>País</p>
               <select name="pais">
                  <option value="">Elige un país</option>
                  <% 
                  let paises = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Cuba', 'Ecuador', 'El Salvador', 'Guatemala', 'México', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela']
                  %>
                  <% for (const pais of paises) { %>
                     <option value="<%= pais %>" <%= locals.oldData && (pais === oldData.pais) ? 'selected' : null %>><%= pais %></option>
                  <% } %>
                  
               </select>
               <% if(locals.errors && errors.pais) { %>
                  <div class="text-danger">
                     <%= errors.pais.msg %>
                  </div>
                  <% } %>
            </label>
            <label for="ciudad">
               <p>Ciudad</p>
               <input type="text" name="ciudad" value="<%= locals.oldData ? oldData.ciudad : null%>">
               <% if(locals.errors && errors.ciudad) { %>
                  <div class="text-danger">
                     <%= errors.ciudad.msg %>
                  </div>
                  <% } %>
            </label>
            <label for="avatar">
               <input type="file" name="avatar">  
               <% if(locals.errors && errors.avatar) { %>
                  <div class="text-danger-terminos">
                     <%= errors.avatar.msg %>
                  </div>
                  <% } %>          
            </label>
         </div>
         <label class="terminosycondiciones" for="terminos">Acepto los<a href="/"> terminos y condiciones</a>
            <input type="checkbox" name="terminos" >
            <% if(locals.errors && errors.terminos) { %>
               <div class="text-danger-terminos">
                  <%= errors.terminos.msg %>
               </div>
               <% } %>
         </label>
         <div class="XD">
            <br>
            <button class="boton-crear" type="submit">Registrarse</button>
            <div>
               <br>
               <p>¿Ya tienes una cuenta?</p>
               <a href="/login">Inicia sesión</a>
            </div>
            <div><br>
               <button class="google">
                  <p><i class="fa-brands fa-google icono-google"></i>Registrarse con Google </p>
               </button>
               <button class="facebook">
                  <p><i class="fa-brands fa-facebook-f icono-facebook"></i>Registrarse con Facebook</p>
               </button>
            </div>
         </div>
      </form>
      <br>
   </main>

   <footer class="footer">
      <%- include ("./partials/footer")%>
   </footer>
</body>

</html>